@import 'core/Fonts';

@import 'blocks/Header';
@import 'blocks/banners';
@import 'blocks/showcase';
@import 'blocks/catalog';
@import 'blocks/advantages';

@import 'blocks/CatalogCards';
@import 'blocks/CollectionTitle';
@import 'blocks/Footer';

@import 'utils/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a[class] {
  text-decoration: none;
  color: #242021;
}

body {
  font-family: "Proxima Nova", serif;
  -webkit-font-smoothing: antialiased;
  color: #242021;
  line-height: 1.5;
  font-size: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a[class], input[class], button[class] {
  font-family: "Proxima Nova", serif;
}

/*
@media (max-width: 1550px) {}
@media only screen and (max-width: 989px) {}
@media only screen and (max-width: 749px) {}
@media screen and (max-width: 490px) {}
@media (max-width :400px) {}
*/
