$black: rgb(36, 32, 33);
$white: rgb(255, 255, 255);

$blue: rgb(51, 155, 255);
$blue-light: rgb(81, 185, 255);


$purple: rgb(215, 128, 214);
$purple-light: rgb(245, 158, 244);


$green: rgb(52, 220, 107);
$green-light: rgb(82, 250, 137);
