$black: rgb(36, 32, 33);
$white: rgb(255, 255, 255);

$blue: rgb(51, 155, 255);
$blue-light: rgb(81, 185, 255);
$blue-light-2: rgb(215, 243, 251);


$purple: rgb(215, 128, 214);
$purple-2: rgb(143, 145, 198);
$purple-light: rgb(245, 158, 244);


$green: rgb(52, 220, 107);
$green-light: rgb(82, 250, 137);

$gray: rgb(76, 67, 69);
$gray-light: rgb(179, 179, 179);

$red: rgb(255, 0, 0);
