@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/proximanova-light.woff2) format("woff2"), url(../fonts/proximanova-light.woff) format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/proximanova-regular.woff2) format("woff2"), url(../fonts/proximanova-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/proximanova-regitalic.woff2) format("woff2"), url(../fonts/proximanova-regitalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/proximanova-semibold.woff2) format("woff2"), url(../fonts/proximanova-semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova';
  src: url(../fonts/proximanova-bold.woff2) format("woff2"), url(../fonts/proximanova-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #242021; }

body {
  font-family: "Proxima Nova", serif;
  -webkit-font-smoothing: antialiased;
  color: #242021;
  line-height: 1.5;
  font-size: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }

a, input, button {
  font-family: "Proxima Nova", serif; }

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 998; }
  .header .announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    background-color: #d3994f;
    transition: all 300ms linear; }
    .header .announcement:hover {
      background-color: #d9a767; }
  .header .header-content {
    padding: 32px 48px;
    display: flex; }
    .header .header-content .logo {
      display: block;
      align-items: center; }
      .header .header-content .logo img {
        width: 100%;
        max-width: 170px;
        height: auto;
        padding: 5px 0 0 0; }
    .header .header-content .menu {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 0 23px; }
      .header .header-content .menu .link {
        display: inline-block;
        padding: 5px 10px;
        font-size: 18px;
        transition-property: color, fill;
        transition-duration: 300ms;
        transition-timing-function: linear;
        color: #242021;
        cursor: pointer; }
        .header .header-content .menu .link span {
          cursor: pointer; }
        .header .header-content .menu .link.link--dropdown {
          outline: 0;
          background-color: #ffffff;
          border: 2px solid #ffffff;
          border-radius: 4px; }
        .header .header-content .menu .link:hover, .header .header-content .menu .link:hover .icon {
          color: #4d4446;
          fill: #4d4446; }
        .header .header-content .menu .link.link--dropdown:focus {
          border: 2px solid #005fcc;
          color: #4d4446;
          fill: #4d4446; }
        .header .header-content .menu .link .icon {
          display: inline-block;
          height: 8px;
          width: 8px; }
    .header .header-content .buttons {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 auto;
      justify-content: space-between;
      align-items: flex-end; }
      .header .header-content .buttons .buttons-title {
        color: #b3b3b3;
        font-size: 18px;
        margin-bottom: 0.25em; }
      .header .header-content .buttons .buttons-panel {
        display: flex;
        flex-direction: row; }
        .header .header-content .buttons .buttons-panel #search-button {
          display: none; }
        .header .header-content .buttons .buttons-panel #search-button:checked + .search-input {
          width: 250px;
          padding: 0 0 0 16px; }
        .header .header-content .buttons .buttons-panel .search-input {
          outline: 0;
          border: 0;
          border-bottom: black 1px solid;
          font-size: 18px;
          color: #b3b3b3;
          margin: 0.25em -48px 0 0.25em;
          padding: 0;
          width: 0;
          transition: width 150ms linear; }
        .header .header-content .buttons .buttons-panel .button {
          display: flex;
          flex-direction: row; }
          .header .header-content .buttons .buttons-panel .button .button__icon {
            box-sizing: content-box;
            width: 22px;
            height: 23px;
            padding: 0 3px 0 16px;
            align-self: center;
            justify-self: center;
            background-color: #ffffff; }
          .header .header-content .buttons .buttons-panel .button .button__label {
            padding: 0.25em 0 0 0.25em;
            font-size: 18px;
            background-color: #ffffff; }
  .header .link--dropdown-menu {
    display: none; }
    .header .link--dropdown-menu:checked + .dropdown-menu {
      display: flex; }
  .header .dropdown-menu {
    position: absolute;
    margin: 32px 0 0 0;
    left: 0;
    display: none;
    background-color: #ffffff;
    width: 100%;
    padding: 11px 15px;
    align-items: flex-start;
    justify-content: center; }
    .header .dropdown-menu .dropdown-menu__picture {
      width: 30%;
      max-width: 300px;
      padding: 0 0 32px 0;
      margin: 0 24px; }
    .header .dropdown-menu .dropdown-menu__collections {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 30%;
      max-width: 450px;
      text-align: left;
      margin: 0 24px;
      padding: 0 0 32px 0; }
      .header .dropdown-menu .dropdown-menu__collections .dropdown-menu__collection-title {
        width: 100%;
        font-weight: bold;
        padding-bottom: 16px; }
      .header .dropdown-menu .dropdown-menu__collections .dropdown-menu__collection-group {
        width: 50%;
        padding-bottom: 12px; }
      .header .dropdown-menu .dropdown-menu__collections .dropdown-menu__collection-sale {
        color: #ff0000; }

.banners {
  width: 100%;
  max-width: 1550px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  padding: 0 0 4em 0; }
  .banners__item {
    position: relative;
    grid-column: span 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 500px; }
    .banners__item--main {
      grid-column: span 2;
      max-height: 650px; }

.banners-item__picture {
  height: auto;
  width: 100%;
  object-fit: contain; }
  .banners-item__picture--desktop {
    display: block; }
  .banners-item__picture--mobile {
    display: none; }

.banners-item__frame {
  position: absolute;
  padding: 4em 2em; }
  .banners-item__frame--main {
    top: 0;
    right: 0;
    text-align: right; }
  .banners-item__frame--second {
    top: 0;
    left: 0;
    text-align: left; }
  .banners-item__frame--third {
    bottom: 0;
    right: 0;
    text-align: right; }

.banners-item__title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 0.5em 0;
  color: #339bff; }

.banners-item__button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 300ms linear;
  padding: 0.5em 1em; }
  .banners-item__button--first {
    background-color: #339bff; }
    .banners-item:hover .banners-item__button--first {
      background-color: #51b9ff; }
  .banners-item__button--second {
    background-color: #d780d6; }
    .banners-item:hover .banners-item__button--second {
      background-color: #f59ef4; }
  .banners-item__button--third {
    background-color: #34dc6b; }
    .banners-item:hover .banners-item__button--third {
      background-color: #52fa89; }

.banners-item__wave {
  width: 100%;
  margin: 2em 0 0 0; }
  .banners-item__wave--mobile {
    display: none; }

@media only screen and (max-width: 749px) {
  .banners {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    padding: 0; }
    .banners__item {
      grid-column: span 1;
      max-height: 100%; }
      .banners__item--main {
        grid-column: span 1;
        max-height: 100%; }
  .banners-item {
    display: flex;
    flex-direction: column; }
    .banners-item__picture {
      height: auto;
      width: 100%;
      object-fit: contain; }
      .banners-item__picture--desktop {
        display: none; }
      .banners-item__picture--mobile {
        display: block; }
    .banners-item__frame {
      position: relative;
      padding: 2em 0 0 0; }
      .banners-item__frame--main {
        text-align: center;
        padding: 1em 0 0 0; }
      .banners-item__frame--second {
        text-align: center; }
      .banners-item__frame--third {
        text-align: center; }
    .banners-item__title {
      margin: 0 0 0.5em 0;
      color: #242021; }
    .banners-item__button--first {
      background-color: #242021;
      color: white; }
      .banners-item:hover .banners-item__button--first {
        background-color: #242021; }
    .banners-item__button--second {
      background-color: #242021;
      color: white; }
      .banners-item:hover .banners-item__button--second {
        background-color: #242021; }
    .banners-item__button--third {
      background-color: #242021;
      color: white; }
      .banners-item:hover .banners-item__button--third {
        background-color: #242021; }
    .banners-item__wave--mobile {
      display: block; } }

.showcase {
  width: 100%;
  max-width: 1550px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  padding: 4em 2em; }
  @media only screen and (max-width: 749px) {
    .showcase {
      grid-template-columns: repeat(2, minmax(100px, 1fr)); } }
  .showcase__title {
    grid-column: span 4;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    line-height: 1; }
    @media only screen and (max-width: 749px) {
      .showcase__title {
        grid-column: span 2; } }
  .showcase__card {
    grid-column: span 1;
    display: flex;
    flex-direction: column; }
  .showcase__link {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em; }
    @media only screen and (max-width: 749px) {
      .showcase__link {
        grid-column: span 2; } }

.showcase-card__image {
  position: relative; }

.showcase-card__info {
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 120%; }
  @media only screen and (max-width: 989px) {
    .showcase-card__info {
      flex-direction: column;
      font-size: 100%; } }

.showcase-image__back {
  height: auto;
  width: 100%;
  object-fit: scale-down;
  object-position: 50% 50%; }

.showcase-image__front {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  object-fit: scale-down;
  object-position: 50% 50%;
  opacity: 0;
  transition: opacity 300ms linear; }
  .showcase-card:hover .showcase-image__front {
    opacity: 1; }

.showcase-info__frame--first {
  flex-grow: 1; }
  @media only screen and (max-width: 989px) {
    .showcase-info__frame--first {
      width: 100%;
      padding-right: 0; } }

.showcase-info__frame--second {
  width: 30%;
  margin: 0 0 0 auto; }
  @media only screen and (max-width: 989px) {
    .showcase-info__frame--second {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: baseline; } }

.showcase-info__label {
  font-weight: bold;
  color: #ECBD46;
  text-transform: uppercase; }

.showcase-info__title {
  font-weight: bold;
  line-height: 1.2; }

.showcase-info__author {
  padding: 0.5em 0 0.5em 0;
  line-height: 1.2; }

.showcase-info__price {
  font-weight: bold;
  text-align: right; }

.showcase-info__set {
  font-size: 80%;
  text-align: right;
  text-transform: uppercase;
  color: #b3b3b3; }
  @media only screen and (max-width: 989px) {
    .showcase-info__set {
      text-align: left;
      padding: 0 0 0 0.5em; } }

.showcase-link__button {
  border-bottom: #242021 1px solid;
  color: #242021;
  font-size: 120%;
  line-height: 200%;
  font-weight: bold; }

.catalog {
  width: 100%;
  max-width: 1550px;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  padding: 4em 0; }
  @media only screen and (max-width: 749px) {
    .catalog {
      grid-template-columns: 1fr;
      grid-column-gap: 0; } }
  .catalog__picture {
    position: relative;
    height: 475px;
    overflow: hidden; }
    @media only screen and (max-width: 989px) {
      .catalog__picture {
        height: 350px; } }
    @media only screen and (max-width: 749px) {
      .catalog__picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 749px; } }

.catalog-picture__image {
  object-fit: cover;
  height: 100%;
  width: auto; }

.catalog-picture__title {
  position: absolute;
  padding: 2.5em;
  font-size: 125%;
  font-weight: bold; }
  @media only screen and (max-width: 749px) {
    .catalog-picture__title--mobile {
      position: relative;
      text-align: center;
      font-size: 100%;
      padding: 1.5em 0;
      color: #242021; } }
  @media only screen and (min-width: 749px) {
    .catalog-picture__title--first {
      color: #0f475b;
      right: 0;
      bottom: 0; }
    .catalog-picture__title--second {
      color: #e085c8;
      top: 0;
      right: 0; }
    .catalog-picture__title--third {
      color: #000000;
      right: 0;
      bottom: 0; }
    .catalog-picture__title--fourth {
      color: #ffffff;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center; }
    .catalog-picture__title--fifth {
      color: #ffffff;
      left: 0;
      bottom: 0; }
    .catalog-picture__title--sixth {
      color: #ffffff;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
    .catalog-picture__title--seventh {
      color: #242021;
      top: 0;
      left: 0; }
    .catalog-picture__title--eight {
      color: #53008b;
      bottom: 3em;
      right: 0; }
    .catalog-picture__title--ninth {
      color: #2ff25a;
      bottom: 0;
      left: 0; } }

.catalog-picture__wave {
  width: 100%; }
  .catalog-picture__wave--mobile {
    display: none; }
    @media only screen and (max-width: 749px) {
      .catalog-picture__wave--mobile {
        display: block; } }

.advantages {
  width: 100%;
  max-width: 1550px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  padding: 4em 2em; }
  @media only screen and (max-width: 749px) {
    .advantages {
      grid-template-columns: repeat(2, minmax(100px, 1fr)); } }
  .advantages__title {
    grid-column: span 4;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    line-height: 1; }
    @media only screen and (max-width: 749px) {
      .advantages__title {
        grid-column: span 2; } }
  .advantages__card {
    grid-column: span 1;
    display: flex;
    flex-direction: column; }
  .advantages__link {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em; }
    @media only screen and (max-width: 749px) {
      .advantages__link {
        grid-column: span 2; } }

.advantages-card__image {
  position: relative;
  height: auto;
  width: 100%;
  object-fit: scale-down;
  object-position: 50% 50%; }

.advantages-card__description {
  text-align: center; }

.advantages-link__button {
  border-bottom: #242021 1px solid;
  color: #242021;
  font-size: 120%;
  line-height: 200%;
  font-weight: bold; }

.group {
  width: 100%;
  max-width: 1550px;
  display: flex;
  padding: 4em 2em;
  justify-content: space-between; }
  .group--right {
    flex-direction: row; }
    @media only screen and (max-width: 749px) {
      .group--right {
        flex-direction: column-reverse; } }
  .group--left {
    flex-direction: row-reverse; }
    @media only screen and (max-width: 749px) {
      .group--left {
        flex-direction: column-reverse; } }
  .group__info {
    width: 40%;
    align-self: center; }
    @media only screen and (max-width: 749px) {
      .group__info {
        padding: 32px 0 0 0;
        width: 100%;
        font-size: 80%; } }
  .group__image {
    width: 50%;
    height: auto;
    padding: 0 5%;
    object-fit: contain; }
    @media only screen and (max-width: 989px) {
      .group__image {
        padding: 0; } }
    @media only screen and (max-width: 749px) {
      .group__image {
        width: 100%;
        padding: 0; } }

.group-info__title {
  font-size: 220%;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 30px 0; }

.group-info__description {
  font-size: 120%;
  margin: 0 0 30px 0; }

.group-link__button {
  display: inline-block;
  border-bottom: #242021 1px solid;
  color: #242021;
  font-size: 150%;
  line-height: 40px;
  font-weight: bold; }

/*
.collection-title {
  width: 100%;
  display: grid;
  grid-column-gap: 48px;
  padding: 48px;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 48px;

    .title {
      font-size: 40px;
      line-height: 48px;
      font-weight: bold;
      padding-bottom: 12px;
    }

    .description {
      font-size: 20px;
      line-height: 30px;
      padding-bottom: 18px;
    }

    .buttons {
      .button {
        border-bottom: #242021 1px solid;
        color: #242021;
        font-size: 22px;
        line-height: 44px;
        font-weight: bold;
        padding-bottom: 6px;
      }
    }
  }

  .image {
    max-width: 545px;
    height: 545px;
    margin: 0 48px;
  }

  &.right {
    .info {
      order: 1;
      grid-column: 1/2;
    }
    .image {
      order: 2;
      grid-column: 2/3;
    }
  }

  &.left {
    .info {
      order: 2;
      grid-column: 2/3;
    }
    .image {
      order: 1;
      grid-column: 1/2;
    }
  }
}
*/
.footer {
  position: relative;
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .footer__frame {
    width: 100%;
    max-width: 1550px;
    display: grid;
    grid-column-gap: 128px;
    grid-row-gap: 64px;
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 48px 32px 48px; }
    @media only screen and (max-width: 1399px) {
      .footer__frame {
        grid-column-gap: 32px; } }
    @media only screen and (max-width: 989px) {
      .footer__frame {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 749px) {
      .footer__frame {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; } }
  .footer__wave {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    fill: #f4f4f4; }
    .footer__wave--small {
      display: none; }
    .footer__wave--large {
      display: block; }
  .footer__links {
    grid-column: span 1;
    align-self: start; }
    @media only screen and (max-width: 989px) {
      .footer__links {
        grid-column: span 2; } }
    @media only screen and (max-width: 749px) {
      .footer__links {
        width: 100%;
        max-width: 350px; } }
  .footer__subscription {
    grid-column: span 1;
    align-self: start; }
    @media only screen and (max-width: 749px) {
      .footer__subscription {
        text-align: center;
        max-width: 350px; } }
  .footer__socials {
    grid-column: span 1;
    align-self: start; }
  .footer__postscript {
    grid-column: span 2;
    align-self: start; }
    @media only screen and (max-width: 989px) {
      .footer__postscript {
        grid-column: span 1; } }
  .footer__copyright {
    grid-column: span 1;
    align-self: start; }

.footer-links {
  display: grid;
  grid-template-columns: minmax(150px, 30%) minmax(150px, 70%); }
  @media only screen and (max-width: 989px) {
    .footer-links {
      grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr); } }
  @media only screen and (max-width: 749px) {
    .footer-links {
      width: 100%;
      justify-content: center;
      grid-template-columns: repeat(3, minmax(140px, 1fr)); } }
  .footer-links__title {
    grid-column: span 2;
    font-weight: bold;
    line-height: 1.2;
    font-size: 28px;
    margin: 0 0 18px 0;
    padding: 0 25% 0 0; }
    @media only screen and (max-width: 1249px) {
      .footer-links__title {
        padding: 0; } }
    @media only screen and (max-width: 749px) {
      .footer-links__title {
        grid-column: span 3;
        text-align: center; } }
  .footer-links__link-frame {
    grid-column: span 1;
    margin: 0 0 9px 0;
    text-align: left; }
    @media only screen and (max-width: 749px) {
      .footer-links__link-frame {
        text-align: center; } }

.footer-subscription {
  display: flex;
  flex-direction: column; }
  .footer-subscription__title {
    grid-column: span 2;
    font-weight: bold;
    line-height: 1.2;
    font-size: 28px;
    margin: 0 0 18px 0; }
  .footer-subscription__text {
    font-size: 16px;
    margin: 0 0 8px 0; }
  .footer-subscription__description {
    font-size: 12px;
    color: #6d6d6f;
    margin: 0 0 16px 0; }
  .footer-subscription__link {
    display: inline-block;
    color: #000000;
    border-bottom: #000000 1px solid;
    transition: all 200ms linear; }
    .footer-subscription__link:hover {
      color: #b3b3b3;
      border-bottom: #b3b3b3 1px solid; }

.footer-subscription-form {
  color: #242021;
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 1249px) {
    .footer-subscription-form {
      flex-direction: column; } }
  @media only screen and (max-width: 989px) {
    .footer-subscription-form {
      flex-direction: row; } }
  @media only screen and (max-width: 869px) {
    .footer-subscription-form {
      flex-direction: column; } }
  .footer-subscription-form__input {
    font-size: 18px;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.2;
    padding: 10px 18px;
    margin-bottom: 18px;
    border: none;
    outline: 0;
    flex-grow: 1; }
    @media only screen and (max-width: 1249px) {
      .footer-subscription-form__input {
        width: 100%; } }
    @media only screen and (max-width: 989px) {
      .footer-subscription-form__input {
        width: auto; } }
    @media only screen and (max-width: 869px) {
      .footer-subscription-form__input {
        width: 100%; } }
  .footer-subscription-form__button-frame {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #242021;
    line-height: 1.5;
    margin-bottom: 1rem; }
  .footer-subscription-form__button {
    outline: 0;
    line-height: 1.5;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #242021;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 16px;
    transition: .3s;
    padding: 10px 18px; }
    @media only screen and (max-width: 1249px) {
      .footer-subscription-form__button {
        width: 100%; } }
    @media only screen and (max-width: 989px) {
      .footer-subscription-form__button {
        width: auto; } }
    @media only screen and (max-width: 869px) {
      .footer-subscription-form__button {
        width: 100%; } }
    .footer-subscription-form__button:hover {
      background-color: #4d4446; }

@media only screen and (max-width: 749px) {
  .footer-social {
    text-align: center; } }

.footer-social__title {
  grid-column: span 2;
  font-weight: bold;
  line-height: 1.2;
  font-size: 28px;
  margin: 0 0 18px 0;
  padding: 0 40% 0 0; }
  @media only screen and (max-width: 1249px) {
    .footer-social__title {
      padding: 0; } }

.footer-social__icons {
  width: 100%;
  margin: 0 0 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  @media only screen and (max-width: 749px) {
    .footer-social__icons {
      justify-content: center; } }

.footer-social__text {
  font-size: 18px; }

.footer-social__link {
  display: inline-block;
  color: #000000;
  border-bottom: #000000 1px solid;
  transition: all 200ms linear;
  font-weight: bold; }
  .footer-social__link:hover {
    color: #b3b3b3;
    border-bottom: #b3b3b3 1px solid; }

.footer-social-icons-icon {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  transition: .3s; }
  .footer-social-icons-icon:hover {
    fill: #4d4446; }

@media only screen and (max-width: 749px) {
  .footer-postscript {
    text-align: center; } }

.footer-postscript__text {
  font-size: 16px;
  padding: 0; }
  @media only screen and (max-width: 1049px) {
    .footer-postscript__text {
      padding: 0 25% 0 0; } }
  @media only screen and (max-width: 989px) {
    .footer-postscript__text {
      padding: 0; } }

.footer-postscript__link {
  font-size: 16px;
  transition: .3s; }
  .footer-postscript__link:hover {
    color: #b3b3b3; }

@media only screen and (max-width: 749px) {
  .footer-copyright {
    text-align: center; } }

.footer-copyright__text {
  font-size: 16px;
  margin: 0 0 8px 0; }

.footer-copyright__description {
  font-size: 12px;
  color: #6d6d6f; }

.footer-copyright__link {
  display: inline-block;
  color: #000000;
  border-bottom: #000000 1px solid;
  transition: all 200ms linear; }
  .footer-copyright__link:hover {
    color: #b3b3b3;
    border-bottom: #b3b3b3 1px solid; }

/*

.footer {

  .c1 {
    grid-area: c1;
    margin-left: 104px;

    .title {
      font-size: 1.7em;
      font-weight: bold;
      margin-bottom: 0.5em;
      line-height: 1.25;
    }

    .icons {
      margin-bottom: 1.1em;
    }

    .text {
      font-size: 1.1em;

      .link {
        display: inline-block;
        color: #000000;
        border-bottom: #000000 1px solid;
        font-weight: bold;
        transition: all 300ms linear;

        &:hover {
          color: #b3b3b3;
          border-bottom: #b3b3b3 1px solid;
        }
      }
    }
  }

  .d1 {
    grid-area: d1;

    .text {
      line-height: 1;
    }
  }

  .e1 {
    grid-area: e1;
    margin-left: 104px;
  }

  .text {
    font-size: 1em;
    padding-bottom: 0.8em;
  }

  .description {
    color: #6d6d6f;
    font-size: 0.8em;

    .link {
      display: inline-block;
      color: #242021;
      border-bottom: #242021 1px solid;
      transition: all 300ms linear;

      &:hover {
        color: #b3b3b3;
        border-bottom: #b3b3b3 1px solid;
      }
    }
  }
}
*/
/*
@media (max-width: 1550px) {}
@media only screen and (max-width: 989px) {}
@media only screen and (max-width: 749px) {}
@media screen and (max-width: 490px) {}
@media (max-width :400px) {}
*/
