.advantages {
  width: 100%;
  max-width: 1550px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  padding: 4em 2em;

  @media (max-width: 749px) {
    & {
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
  }

  &__title {
    grid-column: span 4;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    line-height: 1;

    @media (max-width: 749px) {
      & {
        grid-column: span 2;
      }
    }
  }

  &__card {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
  }

  &__link {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6em;

    @media (max-width: 749px) {
      & {
        grid-column: span 2;
      }
    }
  }
}

.advantages-card {

  &__image {
    position: relative;
    height: auto;
    width: 100%;
    object-fit: scale-down;
    object-position: 50% 50%;
  }

  &__description {
    text-align: center;
  }
}

.advantages-link {

  &__button {
    border-bottom: #242021 1px solid;
    color: #242021;
    font-size: 120%;
    line-height: 200%;
    font-weight: bold;
  }
}
