.banners {
  display: grid;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 650px 500px;
  grid-template-areas:
          "first first"
          "second third";
  padding: 120px 0 32px 0;
  font-size: 16px;

  .banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;

    .link {
      height: 48px;
      position: absolute;
      text-transform: uppercase;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 300ms linear;
      padding: 0 24px;
    }

    &.first {
      grid-area: first;
      background-image: url("../images/assets/asset%2089.webp");
      justify-content: center;

      .link {
        background-color: rgb(211, 153, 79);
        top: 65%;
      }

      &:hover .link {
        background-color: rgb(231, 183, 109);
      }
    }

    &.second {
      grid-area: second;
      background-image: url("../images/assets/asset%2091.webp");

      .link {
        background-color: rgb(215, 128, 214);
        top: 64px;
        left: 48px;
      }

      &:hover .link {
        background-color: rgb(245, 158, 244);
      }
    }

    &.third {
      grid-area: third;
      background-image: url("../images/assets/asset%2093.webp");

      .link {
        background-color: rgb(52, 220, 107);
        bottom: 64px;
        right: 48px;
      }

      &:hover .link {
        background-color: rgb(82, 250, 137);
      }
    }
  }
}
