.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 998;

  &__frame {
    width: 100%;
    max-width: 1550px;
    padding: 32px 48px;
    display: flex;

    @media (max-width: 749px) {
      padding: 15px 22px 10px 22px;
    }
  }

  &__logo {
    height: auto;
    width: 100%;
    max-width: 170px;

    @media (max-width: 999px) {
      max-width: 90px;
    }

    @media (max-width: 869px) {
      padding: 16px 0;
    }

    @media (max-width: 749px) {
      max-width: 154px;
      padding: 0;
    }
  }

  &__text {
    position: absolute;
    top: 32px;
    right: 48px;
    color: $gray-light;

    @media (max-width: 999px) {
      top: 16px;
    }

    @media (max-width: 869px) {
      width: 150px;
      text-align: right;
    }

    @media (max-width: 749px) {
      display: none;
    }
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 42px;
  align-self: flex-end;

  @media (max-width: 869px) {
    align-self: center;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
  }

  @media (max-width: 749px) {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -48px;
    background-color: $white;
    flex-wrap: nowrap;
    line-height: 48px;
    width: 100%;

    input:checked + & {
      display: flex;
    }
  }

  &__link {
    margin: 0 24px 0 0;
    transition-property: color, fill;
    transition-duration: 300ms;
    transition-timing-function: linear;
    cursor: pointer;

    &:hover {
      color: $gray;
      fill: $gray;
    }
  }

  &__link:last-child  {
    margin: 0;
  }
}

.header-dropdown-menu {
  position: absolute;
  display: none;
  left: 0;
  margin: 32px 0 0 0;
  padding: 0 146px 32px 146px;
  background-color: $white;
  justify-content: center;

  @media (max-width: 749px) {
    padding: 0 32px 32px 32px;
    margin: 0;
  }

  input:checked + & {
    display: flex;
  }

  @media (max-width: 700px) {
    flex-direction: column;
  }

  &__frame {
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 0 32px 0 0;

    @media (max-width: 999px) {
      width: 50%;
    }

    @media (max-width: 749px) {
      margin: 0 8px 0 0;
    }

    @media (max-width: 700px) {
      width: 100%;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__picture {
    width: 30%;
    height: 100%;
    max-height: 300px;
    object-fit: contain;
    margin: 0 32px 0 0;

    @media (max-width: 999px) {
      display: none;
    }
  }

  &__group {
    width: 100%;
    font-weight: bold;
    margin: 0 0 18px 0;
    transition: .3s;

    @media (max-width: 749px) {
      margin: 0 0 9px 0;
      line-height: 32px;
    }

    &:hover {
      color: $gray;
    }
  }

  &__link {
    display: inline-block;
    width: 50%;
    margin: 0 0 9px 0;
    transition: .3s;

    @media (max-width: 749px) {
      margin: 0 0 3px 0;
      line-height: 32px;
    }

    &:hover {
      color: $gray;
    }

    &--sale {
      color: $red;

      &:hover {
        color: $red;
      }
    }
  }
}

.header-buttons {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 auto;
  justify-content: flex-end;
  align-self: flex-end;

  @media (max-width: 749px) {
    align-self: center;
  }

  &__button {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }

  &__icon {
    box-sizing: content-box;
    width: 22px;
    height: 23px;
    padding: 0 3px 0 16px;
    align-self: center;
    justify-self: center;
    background-color: #ffffff;
    transition: .3s;

    &--hidden-lg {
      display: none;

      @media (max-width: 749px) {
        display: block;
      }
    }

    .header-buttons__button:hover & {
      fill: $gray;
    }
  }

  &__label {
    padding: 0.25em 0 0 0.25em;
    font-size: 18px;
    background-color: #ffffff;
    transition: .3s;

    @media (max-width: 999px) {
      display: none;
    }

    .header-buttons__button:hover & {
      color: $gray;
    }
  }

  &__search-input {
    outline: 0;
    border: 0;
    border-bottom: black 1px solid;
    font-size: 18px;
    color: #b3b3b3;
    margin: 0.25em -48px 0 0.25em;
    padding: 0;
    width: 0;
    transition: width 150ms linear;

    @media (max-width: 869px) {
      position: absolute;
      top: 0;
      right: 48px;
      font-size: 24px;
    }

    input:checked + & {
      width: 250px;
      padding: 0 0 0 16px;

      @media (max-width: 869px) {
        width: 100%;
      }
    }
  }
}


/// Разное
.icon {
  display: inline-block;
  width: 8px;
  height: 8px;
}

.hidden {
  display: none;
}
