.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 998;

  .announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    background-color: #d3994f;
    transition: all 300ms linear;

    &:hover {
      background-color: #d9a767;
    }
  }

  .header-content {
    padding: 32px 48px;
    display: flex;

    .logo {
      display: block;
      align-items: center;

      img {
        width: 100%;
        max-width: 170px;
        height: auto;
        padding: 5px 0 0 0;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 0 23px;

      .link {
        display: inline-block;
        padding: 5px 10px;
        font-size: 18px;
        transition-property: color, fill;
        transition-duration: 300ms;
        transition-timing-function: linear;
        color: #242021;
        cursor: pointer;

        span {
          cursor: pointer;
        }

        &.link--dropdown {
          outline: 0;
          background-color: #ffffff;
          border: 2px solid #ffffff;
          border-radius: 4px;
        }

        &:hover, &:hover .icon {
          color: #4d4446;
          fill: #4d4446;
        }

        &.link--dropdown:focus {
          border: 2px solid #005fcc;
          color: #4d4446;
          fill: #4d4446;
        }



        .icon {
          display: inline-block;
          height: 8px;
          width: 8px;
        }
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 auto;
      justify-content: space-between;
      align-items: flex-end;

      .buttons-title {
        color: #b3b3b3;
        font-size: 18px;
        margin-bottom: 0.25em;
      }

      .buttons-panel {
        display: flex;
        flex-direction: row;

        #search-button {
          display: none;
        }

        #search-button:checked + .search-input {
          width: 250px;
          padding: 0 0 0 16px;
        }

        .search-input {
          outline: 0;
          border: 0;
          border-bottom: black 1px solid;
          font-size: 18px;
          color: #b3b3b3;
          margin: 0.25em -48px 0 0.25em;
          padding: 0;
          width: 0;
          transition: width 150ms linear;
        }

        .button {
          display: flex;
          flex-direction: row;

          .button__icon {
            box-sizing: content-box;
            width: 22px;
            height: 23px;
            padding: 0 3px 0 16px;
            align-self: center;
            justify-self: center;
            background-color: #ffffff;
          }

          .button__label {
            padding: 0.25em 0 0 0.25em;
            font-size: 18px;
            background-color: #ffffff;
          }
        }
      }
    }
  }

  .link--dropdown-menu {
    display: none;

    &:checked + .dropdown-menu {
      display: flex;
    }
  }

  .dropdown-menu {
    position: absolute;
    margin: 32px 0 0 0;
    left: 0;
    display: none;
    background-color: #ffffff;
    width: 100%;
    padding: 11px 15px;
    align-items: flex-start;
    justify-content: center;

    .dropdown-menu__picture {
      width: 30%;
      max-width: 300px;
      padding: 0 0 32px 0;
      margin: 0 24px;
    }

    .dropdown-menu__collections {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 30%;
      max-width: 450px;
      text-align: left;
      margin: 0 24px;
      padding: 0 0 32px 0;

      .dropdown-menu__collection-title {
        width: 100%;
        font-weight: bold;
        padding-bottom: 16px;
      }

      .dropdown-menu__collection-group {
        width: 50%;
        padding-bottom: 12px;
      }

      .dropdown-menu__collection-sale {
        color: #ff0000;
      }
    }
  }
}
